<div class="container" >
    <mat-toolbar color="primary" class="stoolbar" [class.mat-elevation-z8]="true">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-name">Ebcdic Editor</h1>
        <span class="spacer"></span>
        <app-file-chooser (fileChange)='onFileChange($event)'></app-file-chooser>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="'side'"
            fixedTopGap="56">
            <mat-nav-list>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-list-item>Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 3</mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>