.mat_icon:hover {
    cursor: pointer;
}

/**toolbar-temp styles*/
.editor-tools-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    /*height: 20px;*/
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
}

.editor-tools {
    display: inherit;
}